

.bg{
    background-color: black;
}
.it{
  width:80%;
  margin:auto;
}


.pokaz{
   
   margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   
   
}

.add{
   width:80%;
  margin:auto;
}
